<h1 class="center"> Header Component</h1>

<div class="center">
   <a routerLink="home" fragment="home"> HOME</a>
   <a routerLink="home" fragment="desc"> DESC</a>
   <a  routerLink="/Login"> LOGIN</a>
   <a  (click)="logOut()" > LOGOUT</a>
   <a routerLink="/contact"> contact </a>
</div>

<div style="text-align: center; padding: 3rem;">
  <a routerLink="home" routerLinkActive="active" > Home</a>
  <a routerLink="about" routerLinkActive="active" > About</a>
  <a routerLink="courses" routerLinkActive="active" > courses</a>
</div>



